.bg {
    background-image: url("https://imagizer.imageshack.com/img923/2851/Acekmm.jpg");
    background-attachment: fixed;
  }
  
  .img1 {
    width: 600px;
  }
  
  .div-img {
    padding: 30px 0 10px 0;
    display: flex;
    justify-content: center;
  }
  
  body {
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 250;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
  }
  
  .form-general {
    background-color: rgba(74, 26, 115, 0.8);
    color: #ffffff;
    width: 50%;
    margin: 100px 500px 100px 500px;
    padding: 0.5% 0 0 0;
    border-radius: 6px
  }
  
  .elements {
    padding: 1.2%;
    margin: 2%;
    font-size: 1.3rem;
  }
  
  .form-control {
    display: block;
    width: 90%;
    height: 1.8rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .input-textarea{
    width: 95%;
  }
  
  label {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }
  
  .submit-button {
    display: block;
    width: 25%;
    background: #d188d3;
    color: inherit;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 10px 20px;
    margin: 25px;
    padding: 0.8rem;
  }
  
  button {
    border: none;
  }
  
  .submit-button:hover {
    color: #d100db;
  }
  